{{ if not (.Page.Scratch.Get "katex") }}
<!-- Include katext only first time -->
<link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/KaTeX/0.12.0/katex.min.css" crossorigin="anonymous">
<script defer src="https://cdn.bootcdn.net/ajax/libs/KaTeX/0.12.0/katex.min.js" crossorigin="anonymous"></script>
<script defer src="https://cdn.bootcdn.net/ajax/libs/KaTeX/0.12.0/contrib/auto-render.min.js" crossorigin="anonymous" onload="renderMathInElement(document.body);"></script>
{{ .Page.Scratch.Set "katex" true }}
{{ end }}

<p class="katex{{ with .Get "class" }} {{ . }}{{ end }}">
  $$ {{ .Inner }} $$
</p>

